*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: black;
    text-align: center;
}

h1{
    color: rgba(175, 150, 76, 0.87);
    padding-top: 2rem;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: -6rem;
}

.outer-container{
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.btn{
    width: 7.5rem;
    height: 2.5rem;
    border: 3px solid rgba(218, 165, 32, 0.69);
    border-radius: 0.8rem;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 800;
    color: darkgray;
}

.btn:hover{
    background: linear-gradient(to right, gray, rgba(218, 165, 32, 0.8), gray);
    color: rgba(0, 0, 0, 8);
}

.inner-div{
    width: 35.5rem;
    height: 3.8rem;
    background: transparent;
    border: 2px solid rgba(218, 165, 32, 0.59);
    border-radius:.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#input{
    width:85%;
    height: 100%;
    font-size: 1.5rem;
    outline: none;
    border: none;
    padding-left: 10px;
    background-color: transparent;
    color: rgba(32, 178, 170, 0.7);
}

#copy-btn{
    width: 10%;
    height: 100%;
    border: none;
}

#copy-btn img{
    height: 80%;
    width: 80%;
    object-fit: contain;
    position: relative;
    top: 5px;
}

#copy-btn img:hover{
    transform: scale(1.2);
}

.hidden{
    display: none;
}